.Grid {
    max-width:0.2vh;
    max-height:1vh;
    margin:auto;
    border-spacing:0;
}

.sheetBar{
    margin-bottom:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.excelContainer{

margin-top:20px;
overflow: scroll;
/* border: 2px solid rgb(0, 0, 0); */

/* justify-content: center; */
}

button{
    width:80px;
    margin-left:5px;
}