.Grid {
    max-width:0.2vh;
    max-height:1vh;
    margin:auto;
    border-spacing:0;
}

.sheetBar{
    margin-bottom:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.excelContainer{

margin-top:20px;
overflow: scroll;
}

button{
    width:80px;
    margin-left:5px;
}

.SheetBody:hover {
    cursor:cell;
}

tbody:hover {
    cursor: cell;
}