div input{
    list-style-type: none;
    overflow: hidden;
    width: 100 px;
    height:100%;
    text-overflow: clip;
    white-space:nowrap;
}
.DropdownOption:hover{
    background-color: rgb(211, 211, 211);
}
.FilterInput{

    width:100%;
    height:100%;
    padding:0;
    margin:0;
    border:0;

}
