h3 {
    margin:0px;
  }
.contentContainer{
  background-color: rgb(245, 245, 245);
  max-width:80vw;
  height:100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.sheetBar{
  /* background-color: rgb(255, 255, 255);
  border:1px solid black; */
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.sqlInput{
  /* margin:auto; */
  /* border: 10px solid rgb(0, 0, 0); */
  width:100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.queryButton{
width: 10vw;
margin-left:2px;
}

.queryBox{
width: 80vw;
}